@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "VT323", monospace;
    color: #222;
    padding-bottom: 64px;
}

:root {
    --trans-x: 5;
    --trans-y: 5;
}


