@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "VT323", monospace;
    color: #222;
    padding-bottom: 64px;
}

:root {
    --border-bottom: 100%;
    --border-right: 100%;
    --x: 5px;
    --y: 5px;
    --x-new: 0px;
    --y-new: 0px;
}

.btn {
    font-family: "VT323", monospace;
    font-size: 12;
    border: 0;
    height: 24px;
    width: 64px;
    color: white;
    cursor: pointer;
    flex: 1;
    position: relative;
    background-color: #66CC99;
}


@keyframes x-move {
    from: {
        left: var(--x);
    }
    to: {
        left: var(--x-new);
    }
}

@keyframes y-move {
    from: {
        top: var(--y);
    }
    to: {
        top: var(--y-new);
    }
}
