@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    box-sizing: border-box;
    font-family: "VT323", monospace;
    color: #006666;
}

:root {
    --primary-color: #99FFCC;
    --secondary-color: #006666;
    --modal-duration: 0.5s;
}

body {
    margin: 0;
}

nav {
    background-color: #99FFCC;
    position: fixed;
    top: 0;
    left: 0;
    width: 256px;
    height: 100%;
}
