@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "VT323", monospace;
    color: #222;
    padding-bottom: 64px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.hero {
    background-image: url("images/hero.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    /* text edits */
    color: #99FFCC;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: -1;
}

.hero h1 {
    font-size: 48px;
    margin: 0 0 16px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 2px;
}

.content h2, .content h3 {
    font-size: 128%;
    margin: 16px 0 16px;
}

.content p {
    color: #555;
    line-height: 32px;
    letter-spacing: 2px;
}
