@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #99FFCC;
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    font-family: "VT323", monospace;
    border: 0;
    height: 64vh;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 8px;
    position: relative;
}
